body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}

header h2 {
    margin: 0;
    font-size: 1.2em;
}

main {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#timepieces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timepiece {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    position: relative;
}

.timepiece button {
    margin: 5px;
}

.timepiece input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: calc(100% - 10px);
}

.timepiece input.timer-duration {
    margin: 5px 0;
}

.remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-container input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#auth-container button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#profile-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#profile-settings-container input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#profile-settings-container button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
